body{
    margin:0;
    padding:0;
}

footer{background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;}
.navbar{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: blue;
    justify-content: space-around;
    position: fixed; 
    top: 0; 
    width: 100%;  
   
   
}


.items{
    font-size: 30px;
    cursor: pointer;
    padding: 2rem;
    margin-right: 0.2rem;
    color: goldenrod;
}
.items:hover{
    background-color:  goldenrod;
    color: blue;
}
.logo{
   
    margin-right: auto;
}

.style1{
    border-top: 50px solid red;height: 5px;
    color: black;
    background-color: black;
    border: none;
}
.header{
    color: black;
    margin-top: 200px;
    text-align: center;
    font-size: 75px;
}
.txt{
    margin-top: 0;
    text-align: center;
    font-size: 35px;
}
.item{
    border-radius: 50%;
    
}
.icon{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    justify-content: center;
   
    
}
.ietms{
    cursor: pointer;
    padding: 30px;
}

.icon img:hover{

    filter: brightness(0.7);

}

@media all  and (max-width: 960px)
{
   
    .items{
        font-size: 15px;
        padding: 0.5rem;
    }
    .logo{
        width: 50px;
        
    }
}
